#header {
    width: 100%;
    height: 120px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navmid nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #000;
}

nav li a:hover {
    color: #EA6D27;
}

.navleft img {
    width: 150px;
}


.btn {
    background: #EA6D27;
    padding: 16px 25px;
    border-radius: 10px 0px;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
    background-color: #000;

}

.check-btn{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

