.testomonial-container {
  width: 100%;
  /* height: 100vh; */
  background-color: #f3f4f4;
  position: relative;

}

.testo-top {
  padding: 140px 300px;
}

.testo-top h2 {
  font-size: 3vw;
  text-align: center;
}

.testo-top p {
  font-size: 1.3vw;
  line-height: 1.5;
  text-align: center;
  padding: 0px 200px;
}




/* boxes css starts here */

.slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: #f3f4f4;
  height: 50%;
}

.testomonial-box {
  background-color: #fff;
  width: 40%;
  margin-bottom: 150px;
  padding: 60px 100px;
  border-radius: 50px;
}

.checked {
  color: orange;
}

.rating-stars {
  text-align: center;
  /* margin: auto; */
  /* width: 50%; */
  /* border: 3px solid green; */
}

.testomonial-box img {
  width: 110px;
  position: absolute;
  top: -80px;
  transform: translate(140%, 0%);
}


.testomonial-box p {
  font-size: 1.5vw;
  text-align: center;
  padding: 10px 0;
  line-height: 1.5;
}

.testomonial-box h3 {
  font-size: 1.5vw;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
}

.testomonial-box h4 {
  font-size: 1vw;
  text-align: center;
  padding: 10px 0;
}

/* end here */