@media screen and (min-device-width: 601px) and (max-device-width: 900px) {


    /* body {
        background-color: aqua;
    } */

    #header {
        /* background-color: red; */
    }

    .navleft img {
        width: 280px !important;
    }

    .check-btn {
        display: block;

    }

    .check-btn i {
        font-size: 50px !important;
    }

    .navmid nav ul {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        overflow: hidden;
        height: 100%;
        z-index: 10;
        display: none;
    }

    .navmid nav ul li {
        padding: 50px;
        border-bottom: 2px solid #000;
    }

    .navmid nav ul li a {
        font-size: 40px;
        font-weight: 600;
    }

    #menuList {
        transition: all 0.5s;
    }

    .navright .btn {
        display: none;
    }


    .section1 {
        flex-direction: column;
    }

    .section1 .left {
        width: 100%;
        padding: 50px;
    }

    .section1 .left h1 {
        font-size: 10vw !important;
        padding: 10px 0px !important;

    }

    .section1 .left p {
        font-size: 35px;
        padding-bottom: 70px;
    }

    .section1 .left .btn-twin {
        padding-right: 0px !important;
        gap: 20px;
        justify-content: start;
    }

    .btn-menu {
        font-size: 30px !important;
        padding: 30px 35px !important;
    }

    .btn {
        padding: 30px 30px;
        font-size: 30px !important;
        margin-left: 15px;
    }

    .section1 .left .social-icons {
        /* width: %; */
        /* padding-right: 280px !important; */
    }

    .social-icons i {
        font-size: 50px;
        padding: 22px;
        margin-left: 15px;
    }




    .section1 .right {
        width: 100%;
        /* background-color: red; */
        /* padding: 60px; */
    }

    .section1-images img {
        width: 646px;
        height: 667px;
    }

    .section1-images .dish-image {
        top: 314px;
        left: 30px;
        width: 280px;
        height: 280px;
    }

    .section2 {
        margin-top: 300px;
    }

    .sec2-top {
        padding: 0px !important;
    }

    .sec2-top h2 {
        font-size: 75px !important;
        padding-top: 94px;
        text-align: center !important;
    }

    .sec2-top p {
        font-size: 35px !important;
        padding: 15px !important;
        text-align: center;
    }

    .food-info-boxes {
        flex-direction: column;
        width: 100% !important;
        margin-top: 150px;
        gap: 162px !important;
    }

    .box-top img {
        width: 350px !important;
        padding-bottom: 30px;
        top: -248px !important;
        left: 118px !important;
    }

    .box {
        margin: 60px 0px;
        width: 600px !important;
        height: 450px !important;
        /* background-color: #fff; */
    }

    .box-bottom h3 {
        font-size: 50px !important;
    }

    .box-bottom p {
        font-size: 36px !important;
    }

    .box-top .price-tag {
        width: 90px !important;
        height: 90px !important;
        left: 392px !important;
        top: -194px !important;
    }

    .price-tag p {
        font-size: 40px !important;
        top: 24px !important;
    }




    .section3 {
        flex-direction: column !important;
    }

    .section3 .left {
        width: 100% !important;
        padding: 45px !important;
    }

    .section3 .left h1 {
        padding-right: 0px !important;
        font-size: 75px;
        text-align: center;
    }

    .section3 .left p {
        padding: 0px !important;
        text-align: center;
        font-size: 35px !important;
        padding-bottom: 65px !important;
    }

    .section3 .left .btn-twin {
        padding-right: 0px !important;
        gap: 20px;
        justify-content: center;
    }

    .section3 .right {
        width: 100% !important;
    }

    .section3-images img {
        width: 670px !important;
        height: 670px !important;
        object-fit: cover;
    }




    .section4 {
        margin: 0px !important;
        flex-direction: column;
        padding-top: 70px !important;
    }

    .section4 .left {
        width: 100% !important;
        padding: 45px !important;
    }

    .section4 .left h1 {
        font-size: 75px !important;
        text-align: center;
        padding: 0px !important;
    }

    .section4 .left p {
        font-size: 35px !important;
        text-align: center;
        padding: 18px 0px !important
    }

    .check-paragraph-row {
        flex-direction: column;
        padding: 25px 14px;
        margin: 0 auto;
        padding-bottom: 50px !important;
        /* height: 800px !important; */
    }

    .check-para-in {
        justify-content: normal !important;
        gap: 15px;
        flex: 50%;
    }

    .check-para-in p {
        padding: 0px !important;
    }

    .section4 .left .btn-twin {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 13px;
        padding-bottom: 50px;
        gap: 20px;
    }

    .section4 .right {
        width: 100% !important;
    }

    .section4-images img {
        width: 650px !important;
        padding-bottom: 75px;
    }




    .testo-top {
        padding: 170px 0px !important;
    }

    .testo-top h2 {
        font-size: 75px !important;
        text-align: center;
    }

    .testo-top p {
        font-size: 35px !important;
        text-align: center;
        padding: 20px !important;
    }

    .testomonial-box {
        width: 85% !important;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        padding: 50px 50px !important;
    }

    .testomonial-box img {
        width: 250px !important;
        top: -110px !important;
        transform: translate(98%, 0%) !important;
    }

    .rating-stars {
        /* width: 40% !important; */
        text-align: center !important;
        font-size: 40px !important;
    }

    .testomonial-box p {
        font-size: 35px !important;
    }

    .testomonial-box h3 {
        font-size: 60px !important;
    }

    .testomonial-box h4 {
        font-size: 40px !important;
    }







    .section6-bg {
        width: 100% !important;
        border-radius: 0px !important;
    }

    .sec6-top {
        padding: 0px !important;
    }

    .sec6-top h2 {
        font-size: 75px !important;
    }

    form.example {
        width: 90vw !important;
    }

    form.example input[type=text] {
        font-size: 40px !important;
    }

    form.example button {
        width: 65% !important;
        padding: 25px !important;
        font-size: 40px !important;
    }




    footer {
        padding: 30px 12px !important;
    }

    .foot-row {
        flex-direction: column;
    }

    .foot-col-top img {
        width: 280px !important;
        padding-bottom: 50px;
    }

    .foot-col-top p {
        font-size: 35px !important
    }

    .foot-col {
        width: 100% !important;
    }

    footer #col-1 {
        width: 100% !important;
    }

    .foot-col h2 {
        font-size: 45px !important;
    }

    .foot-col-bottom-col h3 {
        font-size: 35px !important;
    }

    .foot-col-bottom-row {
        flex-wrap: wrap !important;
    }

    .foot-col-bottom-col p {
        font-size: 35px !important;
    }

    .foot-col li a {
        font-size: 35px !important;
    }

    .foot-social-icons {
        display: flex !important;
    }

    .foot-social-icons i {
        font-size: 50px !important;
        padding: 22px !important;
        margin-left: 15px;
    }



    #footer-bottom {
        flex-direction: column !important;
    }

    .footer-col p {
        font-size: 35px !important;
        padding: 20px 0px !important;
        text-align: center;
    }


}